<div class="layout"> 
   <app-sidebar></app-sidebar> 
   <div class="content"> 
    <nav> 
     <a routerLink="/admin" routerLinkActive="active-link">Admin</a> |
  <a routerLink="/plans">plans</a> | 
  <a routerLink="/feedback">feedback</a> | 
  <a routerLink="/users">users</a> | 
  <a routerLink="/services">services</a> | 
  <a routerLink="/addresses">addresses</a> | 
  <a routerLink="/loyalty">loyalty</a> | 
  <a routerLink="/profiles">profiles</a> | 
  <a routerLink="/coupons">coupons</a> | 
  <a routerLink="/groups">groups</a> | 
  <a routerLink="/discounts">discounts</a> | 
  <a routerLink="/notifications">notifications</a> | 
  <a routerLink="/accounts">accounts</a> | 
  <a routerLink="/claims">claims</a> | 
  <a routerLink="/settings">settings</a> | 
  <a routerLink="/tickets">tickets</a> | 
  <a routerLink="/products">products</a> | 
  <a routerLink="/payments">payments</a> | 
  <a routerLink="/cancellations">cancellations</a> | 
  <a routerLink="/promotions">promotions</a> | 
  <a routerLink="/refunds">refunds</a> | 
  <a routerLink="/auth">auth</a> | 
  <a routerLink="/engagements">engagements</a> | 
  <a routerLink="/events">events</a> | 
  <a routerLink="/inventory">inventory</a> | 
  <a routerLink="/orders">orders</a> | 
  <a routerLink="/branches">branches</a> | 
  <a routerLink="/categories">categories</a> | 
  <a routerLink="/support">support</a> | 
  <a routerLink="/history">history</a> | 
  <a routerLink="/invoices">invoices</a> | 
  <a routerLink="/subscriptions">subscriptions</a> | 
  <a routerLink="/reviews">reviews</a> | 
    </nav> 
   <router-outlet></router-outlet>  
   </div> 
</div> 
