<nav class="navbar">
    <div class="navbar-content">
      <!-- Logo -->
      <a [routerLink]="['/']" class="logo">
        <span class="logo-icon">🚀</span>
        {{ title }}
      </a>
  
      <!-- Navigation Links -->
      <div class="nav-links" [class.active]="isMenuOpen">
        <ng-container *ngFor="let item of menuItems">
          <a [routerLink]="[item.path]" 
             routerLinkActive="active"
             class="nav-link">
            {{ item.label }}
          </a>
        </ng-container>
  
        <!-- Get Started Button -->
        <a [routerLink]="['/get-started']" class="cta-button">
          Get Started
        </a>
      </div>
  
      <!-- Mobile Menu Toggle -->
      <button class="menu-toggle" (click)="toggleMenu()" [class.active]="isMenuOpen">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>